body {
  background: -webkit-linear-gradient(-45deg, rgb(133, 133, 133), rgb(255, 255, 255));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

h1{
    color:white;
    text-align: center
}

h2{
    color: white;
    text-align: center
}

h3{
    color:rgb(0, 0, 0);
    text-align:center;
    padding: 0px 300px;
}

.pasfoto{
    position: absolute;
    right: 0;
    top: 0;
}
.menu_link{
    color:white
}

table{
    width: 80%;
    border-collapse: collapse;
    padding: 20px 50px;
}

th{
    background-color: #7e7e7e;
    color: white;
    height: 40px;
}

table tr td{
    padding: 5px 40px;
    height: 40px;
}

table,tr,td{
   border: 1px solid black;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* navigation bar */
li a:hover {
    background-color: #7e7e7e;
    color: white;
}

* {
    margin: 0;
    padding: 0; 
 }
 
 nav{
     width: 100%;
     height: 60px;
     background-color: #fff;

 }
 
 nav p {
      font-family: Arial;
      color: #222;
      font-size: 24px;
      line-height: 55px;
      float: left;
      padding: 0px 20px;
 }
 
 nav ul{
     float: left;
 }
 
 nav ul li{
     float: left;
     list-style: none;
     position: relative;
 }
 
 nav ul li a {
     display: block;
     font-family: Arial;
     color: #222;
     font-size: 14px;
     padding: 22px 14px;
     text-decoration:none;
 }
 
 nav ul li ul {
     display: none;
     position: absolute;
     background-color: #fff;
     padding: 8px;
     border-radius: 0px 0px 4px 4px;
 }
 
 nav ul li:hover ul {
     display: block;
     
 }
 
 nav ul li ul li a {
     padding: 8px 14px;
 }
 
 nav ul li ul li {
     width: 155px;
     border-radius: 4px;
 }
 
 nav ul li ul li a:hover {
     background-color: #7e7e7e;
 }

 div#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #CCC;
    }

/* Progress bar*/

    .center {
        width: 40%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0 20px 50 px rgba(0,0,0,.5)
    }
    
    
    .skillbox{
        box-sizing: border-box;
        width: 100%;
        margin: 20px 0;
    }
    
    .skillbox p {
        color: #fff;
        margin: 0 0 10px;
        padding: 0px;
    }
    
    .skillbox p:nth-child(2) {
        float: right;
        position: relative;
        top: -25px;
    
    }
    
    .skill {
        background: #707070;
        padding: 4px;
        box-sizing: border-box;
        border: 1px solid #0fffb7;
        border-radius: 2px;
    }
    
    .skill_level {
        background: #0fffb7;
        width: 100%;
        height: 10px;
    }
    